:local(.mainContainer) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50;
  width: 100%;
}

:local(.smallColumn) {
  width: 12%;
}

:local(.tableRow) {
  cursor: pointer;
}
:local(.tableRowArchived) {
  color: #e0e0e0;
}

:local(.mainTable) {}
:local(.largeColumn) {}