:local(.mainContainer) {
  margin-left: 50;
}

:local(.smallColumn) {
  width: 12%;
}

:local(.tableRow) {
  cursor: pointer;
}
:local(.tableRowArchived) {
  color: #e0e0e0;
}

:local(.mainTable) {}
:local(.largeColumn) {}