:local(.mainContainer) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50;
  width: 100%;
}

:local(.smallColumn) {
  width: 115px;
}

:local(.tickColumn) {
  width: 50px;
}

:local(.mainTable) {
  overflow-x: scroll;
}
:local(.largeColumn) {
  width: 360px;
}
