:local(.mainContainer) {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

:local(.tickColumn) {
  width: 50px;
}

:local(.smallColumn) {
  width: 115px;
}

:local(.largeColumn) {
  width: 360px;
}

:local(.mainTable) {
  overflow-x: auto;
}

:local(.tableRow) {
}
