:local(.sidebar) {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

:local(.addAccountBtn) {
  align-self: right;
}

:local(.gridRoot) {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  width: 90%;
}

:local(.gridList) {
  overflow-x: 'auto';
  flex-wrap: no-wrap;
}

:local(.gridTile) {
  cursor: pointer;
  background-color: rgb(0, 188, 212);
}

:local(.gridTileSelected) {
  cursor: pointer;
  background-color: rgb(0, 188, 212);
  border-color: rgb(0, 188, 212);
  box-shadow: 3px 3px 15px #666;
  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}